.container {
  background-image: url("/assets/images/services-image.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 633px;
  padding: 3rem 1rem;
  position: relative;
  overflow: hidden;
}

.brightness {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* .container > img {
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

.container h2 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.list li {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.checkmark {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(331deg)
    brightness(107%) contrast(101%);
}

.container > a {
  width: 14rem;
  height: 3rem;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.9rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .container {
    height: 550px;
  }
  .container > img {
    filter: brightness(0.3);
    position: absolute;
    top: -12rem;
    left: 0;
    z-index: -1;
  }
  .container h2 {
    font-size: 3.8rem;
    margin-bottom: 3rem;
  }
  .lists {
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
  }
  .list {
    align-items: center;
  }
  .list li {
    font-size: 1rem;
  }
  .checkmark {
    display: none;
  }
}
