.footer {
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
}

.companyLogo {
  width: 175px;
  margin-bottom: 1rem;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.call img {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(331deg)
    brightness(107%) contrast(101%);
  width: 20px;
}

.call span {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  /* display: block; */
}

.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.mail img,
.instagram img {
  display: block;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

.links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.links a {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

@media (min-width: 48rem) {
  .footer {
    padding: 2rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .companyLogo {
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
  }
  .links {
    grid-column: 2;
    grid-row: 1;
    gap: 3rem;
  }
  .middle {
    grid-column: 3;
    grid-row: 1;
  }
  .connect {
    margin-bottom: 0;
  }
}
